<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>2D9B5608-8924-44BB-ACE3-06F124842A7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3761243B-89C7-4838-8FBA-F867461E846B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</key>
		<array/>
		<key>51B425B5-E480-4D15-BC2F-9B4CED153DCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B360532-D9CC-4FE9-93FB-75AF82787F4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6FB3D7CB-E570-4171-8B47-B187079B14FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7419E877-26B9-47B3-B60A-8CFF0D054F3F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A4ED796E-D87A-4F4E-9CC0-07A67EAFC2C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B35E46CC-D76A-4961-B412-23E2297299F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4897C6D-A35C-467D-93C6-690D11710ED9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Window manager</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Div</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>div</string>
				<key>subtext</key>
				<string>Custom size ie: .2 .2 .8 .8</string>
				<key>text</key>
				<string>Div</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>51B425B5-E480-4D15-BC2F-9B4CED153DCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"imagefile":"5f07db2a5f5b57948ecc25565bfa8dbe1a1be863.png","title":"Big","arg":"big","subtitle":"Equivalent of 0 0 1 1"},{"imagefile":"b2d08ff2d76d3f241753f015724ec31bbaca8c86.png","title":"Medium","arg":"medium","subtitle":"Equivalent of .1 .1 .9 .9"},{"imagefile":"8d609b8047a16874be3280256a0dccbe0fa13d21.png","title":"Small","arg":"small","subtitle":"Equivalent of .25 .25 .75 .75"},{"imagefile":"6686014d170fec96e10ee1e568d2e0f96209ff65.png","title":"Top","arg":"top","subtitle":"Equivalent of 0 0 1 .5"},{"imagefile":"bd546114ee15dd6635fb6631bcdddba8ea408acc.png","title":"Right","arg":"right","subtitle":"Equivalent of .5 0 1 1"},{"imagefile":"195b6ba827c1ec35504bfab18a14d480b2c03d04.png","title":"Bottom","arg":"bottom","subtitle":"Equivalent of 0 .5 1 1"},{"imagefile":"8669b7056d65087247f8dcfbba1e6ed10f7fe4d5.png","title":"Left","arg":"left","subtitle":"Equivalent of 0 0 .5 1"}]</string>
				<key>keyword</key>
				<string>div</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Resize window</string>
				<key>title</key>
				<string>Div</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>7419E877-26B9-47B3-B60A-8CFF0D054F3F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>left</string>
				<key>hotkey</key>
				<integer>123</integer>
				<key>hotmod</key>
				<integer>11272192</integer>
				<key>hotstring</key>
				<string>←</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A4ED796E-D87A-4F4E-9CC0-07A67EAFC2C5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>osascript div.scpt "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>right</string>
				<key>hotkey</key>
				<integer>124</integer>
				<key>hotmod</key>
				<integer>11272192</integer>
				<key>hotstring</key>
				<string>→</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2D9B5608-8924-44BB-ACE3-06F124842A7D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>top</string>
				<key>hotkey</key>
				<integer>126</integer>
				<key>hotmod</key>
				<integer>11272192</integer>
				<key>hotstring</key>
				<string>↑</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5B360532-D9CC-4FE9-93FB-75AF82787F4E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>bottom</string>
				<key>hotkey</key>
				<integer>125</integer>
				<key>hotmod</key>
				<integer>11272192</integer>
				<key>hotstring</key>
				<string>↓</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6FB3D7CB-E570-4171-8B47-B187079B14FD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>big</string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3761243B-89C7-4838-8FBA-F867461E846B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>medium</string>
				<key>hotkey</key>
				<integer>19</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F4897C6D-A35C-467D-93C6-690D11710ED9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>small</string>
				<key>hotkey</key>
				<integer>20</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B35E46CC-D76A-4961-B412-23E2297299F1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2D9B5608-8924-44BB-ACE3-06F124842A7D</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>3761243B-89C7-4838-8FBA-F867461E846B</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>4A3C9A90-372E-404D-AF8F-53F3F4FA6F61</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>51B425B5-E480-4D15-BC2F-9B4CED153DCF</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>5B360532-D9CC-4FE9-93FB-75AF82787F4E</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>6FB3D7CB-E570-4171-8B47-B187079B14FD</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>7419E877-26B9-47B3-B60A-8CFF0D054F3F</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>A4ED796E-D87A-4F4E-9CC0-07A67EAFC2C5</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>B35E46CC-D76A-4961-B412-23E2297299F1</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>1040</integer>
		</dict>
		<key>F4897C6D-A35C-467D-93C6-690D11710ED9</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
