{
  "rules": {

    // Disallow or enforce spaces inside of brackets
    "array-bracket-spacing": [
      1,
      "never"
    ],

    // Disallow or enforce spaces inside of single line blocks
    "block-spacing": [
      1,
      "always"
    ],

    // This rule is aimed at enforcing a particular brace style
    "brace-style": [
      1,
      "stroustrup",
      {
        "allowSingleLine": false
      }
    ],

    // Camelcase variable name
    "camelcase": [
      2
    ],

    // This rule aims to enforce spacing around a comma
    "comma-spacing": [
      2,
      {
        "before": false,
        "after": true
      }
    ],

    // This rule is aimed at enforcing a particular comma style
    "comma-style": [
      2,
      "last"
    ],

    // This rule aims to maintain consistency around the spacing inside of computed properties
    "computed-property-spacing": [
      2,
      "never"
    ],

    "indent": [
      1,
      2
    ],

     // Empty newlines are required or disallowed after var, let, or const
    "newline-after-var": [
      2,
      "always"
    ],

    // Flagging any lines of code that are indented with a mixture of tabs and spaces
    "no-mixed-spaces-and-tabs": [
      2,
      "smart-tabs"
    ],

    // Disallow Nested Ternaries
    "no-nested-ternary": [
      2
    ],

    // Disallow or enforce spaces inside of curly braces in objects
    "object-curly-spacing": [
      2,
      "always"
    ],

    // Require or Disallow One Variable Declaration per Scope
    "one-var": [
      2,
      "never"
    ],

    // Specify whether backticks, double or single quotes should be used
    "quotes": [
      2,
      "single"
    ],

    // Enforce spacing before and after semicolons
    "semi-spacing": [
      2,
      {
        "before": false,
        "after": true
      }
    ],

    // require or disallow use of semicolons instead of ASI
    "semi": [
      2,
      "always"
    ],

    // Require a space after certain keywords
    "space-after-keywords": [
      2
    ],

    // Require Or Disallow Space Before Blocks
    "space-before-blocks": [
      2
    ],

    // Require or disallow a space before function parenthesis
    "space-before-function-paren": [
      2,
      "never"
    ],

    // Disallow or enforce spaces inside of parentheses
    "space-in-parens": [
      2,
      "never"
    ],

    // Require Spaces Around Infix Operators
    "space-infix-ops": [
      2,
      {
        "int32Hint": false
      }
    ],

    // Require spaces following return, throw, and case
    "space-return-throw-case": [
      2
    ],

    // Require or disallow spaces before/after unary operators
    "space-unary-ops": [
      1,
      {
        "words": true,
        "nonwords": false
      }
    ],
  },

  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },

  "extends": "eslint:recommended"
}
