[user]
	name = Pawel Grzybek
	email = pawelgrzybek@users.noreply.github.com
[color]
	ui = true
[push]
	followTags = true
	autoSetupRemote = true
[help]
	autocorrect = 1
[status]
  showUntrackedFiles = all
[core]
	fileMode = false
	editor = nvim
[init]
	defaultBranch = main
[rerere]
	enabled = true
[pull]
	rebase = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[diff]
  external = difft --syntax-highlight=off --context=6
[includeIf "gitdir/i:~/Developer/fes-gaming/"]
	path = ~/Developer/fes-gaming/.gitconfig
[includeIf "gitdir/i:~/Developer/fes-commerce/"]
	path = ~/Developer/fes-commerce/.gitconfig
