[user]
  name = Pawel Grzybek
  email = pawelgrzybek@users.noreply.github.com
[color]
  ui = true
[push]
  followTags = true
	autoSetupRemote = true
[help]
  autocorrect = 1
[status]
  showUntrackedFiles = all
[core]
	fileMode = false
	editor = hx
[pull]
	rebase = false
[init]
	defaultBranch = main
[rerere]
	enabled = true
