[user]
  name = Pawel Grzybek
  email = pawelgrzybek@users.noreply.github.com
[color]
  ui = true
[push]
  default = simple
  followTags = true
[help]
  autocorrect = 1
[status]
  showUntrackedFiles = all
[core]
	fileMode = false
	editor = code --wait
[pull]
	rebase = false
