<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array/>
	<key>AdjustWindowForFontSizeChange</key>
	<false/>
	<key>BadgeRightMargin</key>
	<integer>10</integer>
	<key>BadgeTopMargin</key>
	<integer>10</integer>
	<key>CopySelection</key>
	<false/>
	<key>Custom Color Presets</key>
	<dict/>
	<key>Default Bookmark Guid</key>
	<string>24797BB8-BF5A-4718-B764-7B3698644D11</string>
	<key>DimBackgroundWindows</key>
	<false/>
	<key>DimInactiveSplitPanes</key>
	<true/>
	<key>DimOnlyText</key>
	<true/>
	<key>DisableFullscreenTransparency</key>
	<false/>
	<key>EnableDivisionView</key>
	<true/>
	<key>FlashTabBarInFullscreen</key>
	<false/>
	<key>GlobalKeyMap</key>
	<dict>
		<key>0x19-0x60000</key>
		<dict>
			<key>Action</key>
			<integer>39</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0x54-0x120000-0x11</key>
		<dict>
			<key>Action</key>
			<integer>61</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<key>0x9-0x40000</key>
		<dict>
			<key>Action</key>
			<integer>32</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf700-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>7</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf701-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>6</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf702-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>2</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf702-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>33</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf703-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>0</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf703-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>34</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf729-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>5</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72b-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>4</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x20000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x20000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
	</dict>
	<key>HTMLTabTitles</key>
	<true/>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HideActivityIndicator</key>
	<false/>
	<key>HideMenuBarInFullscreen</key>
	<true/>
	<key>HideScrollbar</key>
	<true/>
	<key>HideTab</key>
	<true/>
	<key>HideTabNumber</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>IRMemory</key>
	<integer>4</integer>
	<key>LeftTabBarWidth</key>
	<real>317</real>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<false/>
			<key>Allow Title Setting</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.19607843137254902</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14901960784313725</real>
				<key>Red Component</key>
				<real>0.14901960784313725</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.52303178947381246</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.47058823529411764</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.59508786213447318</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.96078431372549022</real>
				<key>Red Component</key>
				<real>0.54632833525567093</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.50980392156862742</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.90980392156862744</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.792156862745098</real>
				<key>Red Component</key>
				<real>0.60784313725490191</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.84313725490196079</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.4392156862745098</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96539792387543244</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.41176470588235292</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96078431372549022</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.92156862745098034</real>
				<key>Red Component</key>
				<real>0.92156862745098034</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.59215686274509804</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.96078431372549022</real>
				<key>Red Component</key>
				<real>0.54509803921568623</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.50980392156862742</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.91349480968858132</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.79238754325259519</real>
				<key>Red Component</key>
				<real>0.60784313725490202</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.84478208515793085</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.440032958984375</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96470588235294119</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.41176470588235292</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96078431372549022</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.92156862745098034</real>
				<key>Red Component</key>
				<real>0.92156862745098034</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.19607843137254902</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14901960784313725</real>
				<key>Red Component</key>
				<real>0.14901960784313725</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.52156862745098043</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.47058823529411764</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.19607843137254902</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1499423298731257</real>
				<key>Red Component</key>
				<real>0.15050551470588236</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14910030364990234</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blink Allowed</key>
			<false/>
			<key>Blinking Cursor</key>
			<true/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96078431372549022</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.92156862745098034</real>
				<key>Red Component</key>
				<real>0.92156862745098034</real>
			</dict>
			<key>Bound Hosts</key>
			<array/>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>120</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96078431372549022</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.92156862745098034</real>
				<key>Red Component</key>
				<real>0.92156862745098034</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.92681378126144409</real>
				<key>Red Component</key>
				<real>0.70214027166366577</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96078431372549022</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.92156862745098034</real>
				<key>Red Component</key>
				<real>0.92156862745098034</real>
			</dict>
			<key>Cursor Type</key>
			<integer>1</integer>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Custom Tab Title</key>
			<string></string>
			<key>Custom Window Title</key>
			<string>🐘💨</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Draw Powerline Glyphs</key>
			<false/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96078431372549022</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.92310649750096119</real>
				<key>Red Component</key>
				<real>0.92388723594140476</real>
			</dict>
			<key>Guid</key>
			<string>24797BB8-BF5A-4718-B764-7B3698644D11</string>
			<key>Has Hotkey</key>
			<false/>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Icon</key>
			<integer>0</integer>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Use Transparency</key>
			<true/>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x2d-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x32-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x00</string>
				</dict>
				<key>0x33-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b</string>
				</dict>
				<key>0x34-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1c</string>
				</dict>
				<key>0x35-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1d</string>
				</dict>
				<key>0x36-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0x37-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x38-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x7f</string>
				</dict>
				<key>0xf700-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2A</string>
				</dict>
				<key>0xf700-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5A</string>
				</dict>
				<key>0xf700-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6A</string>
				</dict>
				<key>0xf700-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x41</string>
				</dict>
				<key>0xf701-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2B</string>
				</dict>
				<key>0xf701-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5B</string>
				</dict>
				<key>0xf701-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6B</string>
				</dict>
				<key>0xf701-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x42</string>
				</dict>
				<key>0xf702-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2D</string>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5D</string>
				</dict>
				<key>0xf702-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6D</string>
				</dict>
				<key>0xf702-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x44</string>
				</dict>
				<key>0xf703-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2C</string>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5C</string>
				</dict>
				<key>0xf703-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6C</string>
				</dict>
				<key>0xf703-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x43</string>
				</dict>
				<key>0xf704-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2P</string>
				</dict>
				<key>0xf705-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2Q</string>
				</dict>
				<key>0xf706-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2R</string>
				</dict>
				<key>0xf707-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2S</string>
				</dict>
				<key>0xf708-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[15;2~</string>
				</dict>
				<key>0xf709-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[17;2~</string>
				</dict>
				<key>0xf70a-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[18;2~</string>
				</dict>
				<key>0xf70b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[19;2~</string>
				</dict>
				<key>0xf70c-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[20;2~</string>
				</dict>
				<key>0xf70d-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[21;2~</string>
				</dict>
				<key>0xf70e-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[23;2~</string>
				</dict>
				<key>0xf70f-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[24;2~</string>
				</dict>
				<key>0xf729-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2H</string>
				</dict>
				<key>0xf729-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5H</string>
				</dict>
				<key>0xf72b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2F</string>
				</dict>
				<key>0xf72b-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5F</string>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.6056338028169016</real>
				<key>Red Component</key>
				<real>0.4509803921568627</real>
			</dict>
			<key>Minimum Contrast</key>
			<real>0.0</real>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Dark</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>DankMono-Regular 16</string>
			<key>Open Toolbelt</key>
			<false/>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>24</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>0</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.19607843137254902</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14901960784313725</real>
				<key>Red Component</key>
				<real>0.14901960784313725</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.80000000000000004</real>
				<key>Red Component</key>
				<real>0.72156862745098038</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Thin Strokes</key>
			<integer>0</integer>
			<key>Title Components</key>
			<integer>4</integer>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Triggers</key>
			<array>
				<dict>
					<key>action</key>
					<string>HighlightTrigger</string>
					<key>partial</key>
					<true/>
					<key>regex</key>
					<string>🍝 historicRoots</string>
				</dict>
			</array>
			<key>Unlimited Scrollback</key>
			<true/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Custom Tab Title</key>
			<true/>
			<key>Use Custom Window Title</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Use Tab Color</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1.6000000000000001</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/pawelgrzybek</string>
		</dict>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<false/>
			<key>Allow Title Setting</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.49411764705882355</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.44705882352941179</real>
				<key>Red Component</key>
				<real>0.41960784313725491</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.19215686274509805</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14901960784313725</real>
				<key>Red Component</key>
				<real>0.792156862745098</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.22745098039215686</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.52549019607843139</real>
				<key>Red Component</key>
				<real>0.13725490196078433</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.035294117647058823</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.3843137254901961</real>
				<key>Red Component</key>
				<real>0.8901960784313725</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.77254901960784317</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.36470588235294116</real>
				<key>Red Component</key>
				<real>0.0078431372549019607</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.75686274509803919</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.25882352941176473</real>
				<key>Red Component</key>
				<real>0.4392156862745098</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.77254901960784317</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.36470588235294116</real>
				<key>Red Component</key>
				<real>0.0078431372549019607</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.49411764705882355</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.44705882352941179</real>
				<key>Red Component</key>
				<real>0.42352941176470588</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.22745098039215686</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.52549019607843139</real>
				<key>Red Component</key>
				<real>0.13725490196078433</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.031372549019607843</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.3843137254901961</real>
				<key>Red Component</key>
				<real>0.8901960784313725</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.77254901960784317</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.36470588235294116</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.75686274509803919</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.25882352941176473</real>
				<key>Red Component</key>
				<real>0.43529411764705883</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.77254901960784317</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.36470588235294116</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.49411764705882355</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.44705882352941179</real>
				<key>Red Component</key>
				<real>0.41960784313725491</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.49411764705882355</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.44705882352941179</real>
				<key>Red Component</key>
				<real>0.42352941176470588</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.19215686274509805</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14901960784313725</real>
				<key>Red Component</key>
				<real>0.78431372549019607</real>
			</dict>
			<key>Application Keypad Allowed</key>
			<false/>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Text</key>
			<string></string>
			<key>Blink Allowed</key>
			<false/>
			<key>Blinking Cursor</key>
			<true/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.99999994039535522</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.99999994039535522</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Bound Hosts</key>
			<array/>
			<key>Brighten Bold Text</key>
			<true/>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>120</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Boost</key>
			<real>0.0</real>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.17647058823529413</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.16078431372549021</real>
				<key>Red Component</key>
				<real>0.13725490196078433</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Type</key>
			<integer>1</integer>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Custom Tab Title</key>
			<string></string>
			<key>Custom Window Title</key>
			<string>Hey ho 🐘💨</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Draw Powerline Glyphs</key>
			<false/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.17647059261798859</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.16078431904315948</real>
				<key>Red Component</key>
				<real>0.13725490868091583</real>
			</dict>
			<key>Guid</key>
			<string>7D4C8052-F72A-413A-B003-DB97E7393524</string>
			<key>Has Hotkey</key>
			<false/>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Icon</key>
			<integer>0</integer>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Use Transparency</key>
			<true/>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x2d-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x32-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x00</string>
				</dict>
				<key>0x33-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b</string>
				</dict>
				<key>0x34-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1c</string>
				</dict>
				<key>0x35-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1d</string>
				</dict>
				<key>0x36-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0x37-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x38-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x7f</string>
				</dict>
				<key>0xf700-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2A</string>
				</dict>
				<key>0xf700-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5A</string>
				</dict>
				<key>0xf700-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6A</string>
				</dict>
				<key>0xf700-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x41</string>
				</dict>
				<key>0xf701-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2B</string>
				</dict>
				<key>0xf701-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5B</string>
				</dict>
				<key>0xf701-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6B</string>
				</dict>
				<key>0xf701-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x42</string>
				</dict>
				<key>0xf702-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2D</string>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5D</string>
				</dict>
				<key>0xf702-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6D</string>
				</dict>
				<key>0xf702-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x44</string>
				</dict>
				<key>0xf703-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2C</string>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5C</string>
				</dict>
				<key>0xf703-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6C</string>
				</dict>
				<key>0xf703-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x43</string>
				</dict>
				<key>0xf704-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2P</string>
				</dict>
				<key>0xf705-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2Q</string>
				</dict>
				<key>0xf706-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2R</string>
				</dict>
				<key>0xf707-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2S</string>
				</dict>
				<key>0xf708-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[15;2~</string>
				</dict>
				<key>0xf709-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[17;2~</string>
				</dict>
				<key>0xf70a-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[18;2~</string>
				</dict>
				<key>0xf70b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[19;2~</string>
				</dict>
				<key>0xf70c-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[20;2~</string>
				</dict>
				<key>0xf70d-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[21;2~</string>
				</dict>
				<key>0xf70e-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[23;2~</string>
				</dict>
				<key>0xf70f-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[24;2~</string>
				</dict>
				<key>0xf729-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2H</string>
				</dict>
				<key>0xf729-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5H</string>
				</dict>
				<key>0xf72b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2F</string>
				</dict>
				<key>0xf72b-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5F</string>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.77254901960784317</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.36470588235294116</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Minimum Contrast</key>
			<real>0.0</real>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Light</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>DankMono-Regular 16</string>
			<key>Open Toolbelt</key>
			<false/>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>24</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>5000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.17647058823529413</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.16078431372549021</real>
				<key>Red Component</key>
				<real>0.13725490196078433</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96470588235294119</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.92941176470588238</real>
				<key>Red Component</key>
				<real>0.90196078431372551</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Sync Title</key>
			<false/>
			<key>Tab Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.058595663867890835</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.058595663867890835</real>
				<key>Red Component</key>
				<real>0.726470947265625</real>
			</dict>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Thin Strokes</key>
			<integer>0</integer>
			<key>Title Components</key>
			<integer>4</integer>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Custom Tab Title</key>
			<false/>
			<key>Use Custom Window Title</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Use Tab Color</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1.6000000000000001</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/pawelgrzybek</string>
		</dict>
	</array>
	<key>OpenArrangementAtStartup</key>
	<false/>
	<key>OpenBookmark</key>
	<false/>
	<key>OpenNoWindowsAtStartup</key>
	<false/>
	<key>PMPrintingExpandedStateForPrint2</key>
	<false/>
	<key>PassOnControlClick</key>
	<true/>
	<key>PerPaneBackgroundImage</key>
	<true/>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>PreserveWindowSizeWhenTabBarVisibilityChanges</key>
	<false/>
	<key>Print In Black And White</key>
	<true/>
	<key>PromptOnQuit</key>
	<false/>
	<key>QuitWhenAllWindowsClosed</key>
	<true/>
	<key>SeparateStatusBarsPerPane</key>
	<false/>
	<key>SeparateWindowTitlePerTab</key>
	<true/>
	<key>ShowFullScreenTabBar</key>
	<true/>
	<key>ShowNewOutputIndicator</key>
	<false/>
	<key>ShowPaneTitles</key>
	<false/>
	<key>Snippets</key>
	<array/>
	<key>SoundForEsc</key>
	<false/>
	<key>SplitPaneDimmingAmount</key>
	<real>0.59999999999999998</real>
	<key>StatusBarPosition</key>
	<integer>0</integer>
	<key>StretchTabsToFillBar</key>
	<true/>
	<key>TabStyleWithAutomaticOption</key>
	<integer>5</integer>
	<key>TabViewType</key>
	<integer>0</integer>
	<key>TabsHaveCloseButton</key>
	<true/>
	<key>TerminalMargin</key>
	<integer>16</integer>
	<key>TerminalVMargin</key>
	<integer>16</integer>
	<key>ToolbeltTools</key>
	<array>
		<string>Captured Output</string>
	</array>
	<key>UseBorder</key>
	<false/>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>WindowNumber</key>
	<false/>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>0</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<true/>
	<key>kCPKUseSystemColorPicker</key>
	<false/>
</dict>
</plist>
