<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.pawelgrzybek.sshot</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>A17F56E9-B8A4-479B-A0C9-6AB5A80D80E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5C0FBFF-28A4-4A67-B82C-4ADF0521D8D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>76A41DA8-5D7E-4DA6-B7F2-3E719566F879</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Pawel Grzybek</string>
	<key>description</key>
	<string>Change a screenshot extension</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SShot</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1
defaults write com.apple.screencapture type $query;killall SystemUIServer</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A5C0FBFF-28A4-4A67-B82C-4ADF0521D8D6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>sshot</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cat &lt;&lt; EOB
{
  "items": [
    {
      "title": "PNG",
      "subtitle": "Change screenshot file extension to .png",
      "arg": "png",
      "autocomplete": "PNG",
      "icon": {
        "path": "icon.png"
      }
    },
    {
      "title": "JPG",
      "subtitle": "Change screenshot file extension to .jpg",
      "arg": "jpg",
      "autocomplete": "JPG",
      "icon": {
        "path": "icon.png"
      }
    },
    {
      "title": "TIFF",
      "subtitle": "Change screenshot file extension to .tiff",
      "arg": "tiff",
      "autocomplete": "TIFF",
      "icon": {
        "path": "icon.png"
      }
    },
    {
      "title": "GIF",
      "subtitle": "Change screenshot file extension to .gif",
      "arg": "gif",
      "autocomplete": "GIF",
      "icon": {
        "path": "icon.png"
      }
    },
    {
      "title": "PDF",
      "subtitle": "Change screenshot file extension to .pdf",
      "arg": "PDF",
      "autocomplete": "PDF",
      "icon": {
        "path": "icon.png"
      }
    }
  ]
}
EOB</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Change a screenshot extension 2</string>
				<key>title</key>
				<string>sshot</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A17F56E9-B8A4-479B-A0C9-6AB5A80D80E6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Enjoy your day :)</string>
				<key>title</key>
				<string>Screenshot format changed to .{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>76A41DA8-5D7E-4DA6-B7F2-3E719566F879</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Change a screenshot extension. Hot tip. To remove shadow around the screen shot simply hold on the option key when you capture the screen. To save screenshot to clipboard hold on the ctrl key when you capture the screen.

Thanks for using SShot :-)</string>
	<key>uidata</key>
	<dict>
		<key>76A41DA8-5D7E-4DA6-B7F2-3E719566F879</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>A17F56E9-B8A4-479B-A0C9-6AB5A80D80E6</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>A5C0FBFF-28A4-4A67-B82C-4ADF0521D8D6</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://pawelgrzybek.com/</string>
</dict>
</plist>
