<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Editable</key>
	<true/>
	<key>KeyboardShortcuts</key>
	<dict>
		<key>ApplyAdjustments</key>
		<string>a</string>
		<key>ApplyNormalization</key>
		<string>n</string>
		<key>CopyAdjustments</key>
		<string>a</string>
		<key>Crop</key>
		<string>c</string>
		<key>DrawAnnotations</key>
		<string>i</string>
		<key>DrawMask</key>
		<string>b</string>
		<key>EraseAnnotations</key>
		<string>y</string>
		<key>EraseMask</key>
		<string>e</string>
		<key>GradientMask</key>
		<string>g</string>
		<key>KeyStone</key>
		<string>k</string>
		<key>KeyStoneHorizontal</key>
		<string>k</string>
		<key>KeyStoneVertical</key>
		<string>k</string>
		<key>LivePreviewFocusPoint</key>
		<string>f</string>
		<key>Loupe</key>
		<string>p</string>
		<key>MoveTo</key>
		<string>v</string>
		<key>Overlay</key>
		<string>h</string>
		<key>Pan</key>
		<string>h</string>
		<key>PickFocusPoint</key>
		<string>f</string>
		<key>PickHighlightLevel</key>
		<string>l</string>
		<key>PickLumaCurvePoint</key>
		<string>u</string>
		<key>PickNormalizeToolTarget</key>
		<string>n</string>
		<key>PickRGBCurvePoint</key>
		<string>u</string>
		<key>PickShadowLevel</key>
		<string>l</string>
		<key>PickWhiteBalance</key>
		<string>w</string>
		<key>RadialMask</key>
		<string>t</string>
		<key>RemoveSpot</key>
		<string>o</string>
		<key>RotateFreeHand</key>
		<string>r</string>
		<key>RotateLeft</key>
		<string>r</string>
		<key>RotateRight</key>
		<string>r</string>
		<key>Select</key>
		<string>v</string>
		<key>Straighten</key>
		<string>r</string>
		<key>Trash</key>
		<string>v</string>
		<key>Watermark</key>
		<string>h</string>
		<key>ZoomIn</key>
		<string>z</string>
		<key>ZoomOut</key>
		<string>z</string>
		<key>applyAdjustments:</key>
		<string>$@v</string>
		<key>autoAdjust:</key>
		<string>@l</string>
		<key>biggerBrush:</key>
		<string>]</string>
		<key>capture:</key>
		<string>@k</string>
		<key>checkSpelling:</key>
		<string>@;</string>
		<key>clearCompareVariant:</key>
		<string>@
</string>
		<key>cloneVariant:</key>
		<string></string>
		<key>copyAdjustments:</key>
		<string>$@c</string>
		<key>decreaseContrast:</key>
		<string>^$@-</string>
		<key>decreaseExposure:</key>
		<string>^@-</string>
		<key>decreaseSaturation:</key>
		<string>^~@-</string>
		<key>decreaseWBKelvin:</key>
		<string>$-</string>
		<key>decreaseWBTint:</key>
		<string>$@-</string>
		<key>decrementCaptureCounter:</key>
		<string>~@k</string>
		<key>deletePermanently:</key>
		<string>^@</string>
		<key>deselectAll:</key>
		<string>$@a</string>
		<key>increaseContrast:</key>
		<string>^$@+</string>
		<key>increaseExposure:</key>
		<string>^@+</string>
		<key>increaseSaturation:</key>
		<string>^~@+</string>
		<key>increaseWBKelvin:</key>
		<string>$+</string>
		<key>increaseWBTint:</key>
		<string>$@+</string>
		<key>invertSelection:</key>
		<string>@i</string>
		<key>lessHardness:</key>
		<string>$[</string>
		<key>moreHardness:</key>
		<string>$]</string>
		<key>moveToFolder:</key>
		<string>@j</string>
		<key>newVariant:</key>
		<string></string>
		<key>openFilterDialog:</key>
		<string>$@f</string>
		<key>performZoom:</key>
		<string>^@z</string>
		<key>printImages:</key>
		<string>@p</string>
		<key>process:</key>
		<string>@d</string>
		<key>rate0:</key>
		<string>0</string>
		<key>rate1:</key>
		<string>1</string>
		<key>rate2:</key>
		<string>2</string>
		<key>rate3:</key>
		<string>3</string>
		<key>rate4:</key>
		<string>4</string>
		<key>rate5:</key>
		<string>5</string>
		<key>resetAdjustments:</key>
		<string>@r</string>
		<key>rotateLeft:</key>
		<string>~@l</string>
		<key>rotateRight:</key>
		<string>~@r</string>
		<key>rotateSnap:</key>
		<string>~@x</string>
		<key>selectFirst:</key>
		<string>@</string>
		<key>selectFirstChildCollection:</key>
		<string>^$d</string>
		<key>selectLast:</key>
		<string>@</string>
		<key>selectNext:</key>
		<string>@</string>
		<key>selectNextCollection:</key>
		<string>^$s</string>
		<key>selectNextInspector:</key>
		<string>~@</string>
		<key>selectNextPage:</key>
		<string>~</string>
		<key>selectParentCollection:</key>
		<string>^$a</string>
		<key>selectPrevious:</key>
		<string>@</string>
		<key>selectPreviousCollection:</key>
		<string>^$w</string>
		<key>selectPreviousInspector:</key>
		<string>~@</string>
		<key>selectPreviousPage:</key>
		<string>~</string>
		<key>selectTab1:</key>
		<string>~@1</string>
		<key>selectTab2:</key>
		<string>~@2</string>
		<key>selectTab3:</key>
		<string>~@3</string>
		<key>selectTab4:</key>
		<string>~@4</string>
		<key>selectTab5:</key>
		<string>~@5</string>
		<key>selectTab6:</key>
		<string>~@6</string>
		<key>selectTab7:</key>
		<string>~@7</string>
		<key>setAsCompareVariant:</key>
		<string>$
</string>
		<key>setColorTag1:</key>
		<string>-</string>
		<key>setColorTag3:</key>
		<string>*</string>
		<key>setColorTag4:</key>
		<string>+</string>
		<key>showGuessPanel:</key>
		<string>@:</string>
		<key>smallerBrush:</key>
		<string>[</string>
		<key>toggleAlignmentEnabled:</key>
		<string>@g</string>
		<key>toggleAlwaysShowAnnotations:</key>
		<string>j</string>
		<key>toggleBrowserDisplayStateAuto:</key>
		<string>~@b</string>
		<key>toggleBrowserDisplayStateShown:</key>
		<string>@b</string>
		<key>toggleBrowserPosition:</key>
		<string>$@b</string>
		<key>toggleEditPrimary:</key>
		<string>$@e</string>
		<key>toggleExposureWarningsEnabled:</key>
		<string>@e</string>
		<key>toggleFullScreen:</key>
		<string>^@f</string>
		<key>toggleRecipeProofing:</key>
		<string>$@\</string>
		<key>toggleSlideShow:</key>
		<string>@&lt;</string>
		<key>toggleToolsDisplayStateAuto:</key>
		<string>~@t</string>
		<key>toggleToolsDisplayStateShown:</key>
		<string>@t</string>
		<key>toggleToolsPosition:</key>
		<string>$@t</string>
		<key>toggleViewerShown:</key>
		<string>§</string>
		<key>trash:</key>
		<string>@</string>
		<key>zoomViewer100:</key>
		<string>~@0</string>
		<key>zoomViewerIn:</key>
		<string>@+</string>
		<key>zoomViewerOut:</key>
		<string>@-</string>
		<key>zoomViewerToFit:</key>
		<string>@0</string>
	</dict>
	<key>VersionNumber</key>
	<string>13.0.4</string>
</dict>
</plist>
