<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>03D6DC75-CA43-48E6-96B0-0F0A1C24278A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stack</string>
			<key>text</key>
			<string>Search Stack Overflow for '{query}'</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>41DCAEFE-C012-4736-8256-D14FBC7FCA61</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sjp</string>
			<key>text</key>
			<string>Słownik Języka Polskiego</string>
			<key>url</key>
			<string>https://sjp.pl/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9022D6EE-5844-4BAE-92F4-811A83B94CB7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>urban</string>
			<key>text</key>
			<string>Search Urban Dictionary for '{query}'</string>
			<key>url</key>
			<string>http://www.urbandictionary.com/define.php?term={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B61E7B0B-176E-4121-8074-050496E67FB9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cani</string>
			<key>text</key>
			<string>Search Can I use for '{query}'</string>
			<key>url</key>
			<string>https://caniuse.com/#search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BFCEEF19-FDF2-48FF-8738-8CD7FC99BAB8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>syn</string>
			<key>text</key>
			<string>Synonyms dictionary</string>
			<key>url</key>
			<string>http://www.thesaurus.com/browse/{query}?s=t</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D6C3FC3E-D33A-4111-B981-BA510156BD8F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dockerhub</string>
			<key>text</key>
			<string>Docker Hub</string>
			<key>url</key>
			<string>https://hub.docker.com/search/?q={query}&amp;type=image</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D773DFB0-F894-4823-B0F0-61DB78FAF87D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>lodash</string>
			<key>text</key>
			<string>Lodash</string>
			<key>url</key>
			<string>https://lodash.com/docs#{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D9B16437-D465-4A8E-A9D2-A10755CF7C3B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dic</string>
			<key>text</key>
			<string>Dictionary</string>
			<key>url</key>
			<string>http://www.dictionary.com/browse/{query}?s=t</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F83DD596-6C85-4A1B-BEDA-F7A1C489234A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>discogs</string>
			<key>text</key>
			<string>Search Discogs for '{query}'</string>
			<key>url</key>
			<string>https://www.discogs.com/search/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
