<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>03D6DC75-CA43-48E6-96B0-0F0A1C24278A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stack</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Stack Overflow for '{query}'</string>
			<key>url</key>
			<string>http://stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B61E7B0B-176E-4121-8074-050496E67FB9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cani</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Can I use for '{query}'</string>
			<key>url</key>
			<string>http://caniuse.com/#search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C344267A-B381-47AB-9BD3-1608E33F7FC0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mdn</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search MDN for '{query}'</string>
			<key>url</key>
			<string>https://developer.mozilla.org/en-US/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
