<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jinkunw.top</string>
	<key>connections</key>
	<dict>
		<key>B7ACD920-997C-436B-BD74-D0A70DFEBD31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D77EE7A-8AFE-44F6-B6B0-20013E995D05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jinkun Wang</string>
	<key>description</key>
	<string>Display tasks sorted by memory usage.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Top</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>top</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Querying ...</string>
				<key>script</key>
				<string>python top.py</string>
				<key>subtext</key>
				<string>Enter to kill the task</string>
				<key>title</key>
				<string>Display tasks sorted by memory usage</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B7ACD920-997C-436B-BD74-D0A70DFEBD31</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>kill -9 {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6D77EE7A-8AFE-44F6-B6B0-20013E995D05</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6D77EE7A-8AFE-44F6-B6B0-20013E995D05</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B7ACD920-997C-436B-BD74-D0A70DFEBD31</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/jinkunw/alfred-workflows</string>
</dict>
</plist>
