<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultBundleId</key>
	<string>com.pawelgrzybek.xxx</string>
	<key>defaultCreatedBy</key>
	<string>Pawel Grzybek</string>
	<key>defaultWebsite</key>
	<string>https://pawelgrzybek.com/</string>
	<key>showAlignmentGuides</key>
	<true/>
	<key>showconfig</key>
	<false/>
</dict>
</plist>
