<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.custom.839D7F20-B26D-444B-A2F0-68126B28082D</string>
	<key>theme</key>
	<string>alfred.theme.custom.972F1497-9DB7-4E4F-9CEF-395B4AEE96C4</string>
</dict>
</plist>
