<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledDefaultActions</key>
	<dict>
		<key>alfred.action.addtobuffer</key>
		<true/>
		<key>alfred.action.browsefolder</key>
		<true/>
		<key>alfred.action.copy</key>
		<true/>
		<key>alfred.action.copyfile</key>
		<true/>
		<key>alfred.action.copypath</key>
		<true/>
		<key>alfred.action.delete</key>
		<true/>
		<key>alfred.action.getinfo</key>
		<true/>
		<key>alfred.action.mixed.email</key>
		<true/>
		<key>alfred.action.mixed.emailto</key>
		<true/>
		<key>alfred.action.move</key>
		<true/>
		<key>alfred.action.open</key>
		<true/>
		<key>alfred.action.openterminalhere</key>
		<true/>
		<key>alfred.action.openwith</key>
		<true/>
		<key>alfred.action.recent</key>
		<true/>
		<key>alfred.action.revealinfinder</key>
		<true/>
		<key>alfred.action.showaslargetype</key>
		<true/>
		<key>alfred.action.showpackagecontents</key>
		<true/>
		<key>alfred.action.text.copyasplaintext</key>
		<true/>
		<key>alfred.action.text.extracturls</key>
		<true/>
		<key>alfred.action.text.openindictionary</key>
		<true/>
		<key>alfred.action.text.pasteasplaintext</key>
		<true/>
		<key>alfred.action.text.saveassnippet</key>
		<true/>
		<key>alfred.action.text.searchwithfinder</key>
		<true/>
		<key>alfred.action.text.useinalfred</key>
		<true/>
		<key>alfred.action.url.open</key>
		<true/>
		<key>alfred.action.url.openin</key>
		<true/>
		<key>alfred.action.url.usedomainfromurl</key>
		<true/>
	</dict>
	<key>finderSelectionHotkey</key>
	<dict>
		<key>key</key>
		<integer>49</integer>
		<key>mod</key>
		<integer>1572864</integer>
		<key>string</key>
		<string> </string>
	</dict>
</dict>
</plist>
