<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application</key>
	<integer>1</integer>
	<key>custom</key>
	<string>on alfred_script(q)
	if (text 1 thru 2 of q) is equal to "cd" then
		do shell script "open -a Hyper " &amp; text 4 thru -1 of q
	else
		do shell script "open -a Hyper ~"
		delay 1
		tell application "System Events" to keystroke q &amp; return
	end if
end alfred_script</string>
</dict>
</plist>
