<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application</key>
	<integer>1</integer>
	<key>custom</key>
	<string>on alacritty_win()
    set _running to (application "Alacritty" is running)
    tell application "Alacritty" to activate
    tell application "System Events"
        repeat while (name of first application process whose frontmost is true) is not "alacritty"
            delay 0.05
        end repeat

        set _alacritty to first application process whose frontmost is true
        -- If Alacritty was running, create a new window to run command
        if _running then
            tell _alacritty to set _target to (count windows) + 1
            keystroke "n" using {command down}
        else
            set _target to 1
        end if

        -- Wait for wanted window count
        tell _alacritty
            repeat while (count windows) &lt; _target
                delay 0.05
            end repeat
        end tell
    end tell
end alacritty_win

on alfred_script(q)
    my alacritty_win()
    tell application "System Events"
        keystroke q
        key code 36
    end tell
end alfred_script</string>
</dict>
</plist>
