<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.pawelgrzybek.npm</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>CD8B0843-794E-46D1-8D03-A8012CC67657</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9900D42F-E141-4452-B1EE-C24E9848EADE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Paweł Grzybek</string>
	<key>description</key>
	<string>Search for package on npm</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>npm search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>npm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>eval $(/usr/libexec/path_helper -s)
eval "$($SHELL -i -l -c 'echo -e "\n"PATH=\"$PATH:\$PATH\""\n"' 2&gt;/dev/null | grep "^PATH=")"
export PATH

if command -v node &gt;/dev/null 2&gt;&amp;1; then
	node index.js "$1"
else
	echo $'{
    "items":[
      {
        "title": "Couldn\'t find the `node` binary",
        "subtitle": "Symlink it to `/usr/local/bin`"
      }
    ]
  }'
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>ex. npm react</string>
				<key>title</key>
				<string>Search for npm package</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CD8B0843-794E-46D1-8D03-A8012CC67657</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9900D42F-E141-4452-B1EE-C24E9848EADE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>9900D42F-E141-4452-B1EE-C24E9848EADE</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>CD8B0843-794E-46D1-8D03-A8012CC67657</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://pawelgrzybek.com/</string>
</dict>
</plist>
