<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.phaseone.captureone.exporterwindow</key>
	<dict>
		<key>browser-display-state</key>
		<string>Hidden</string>
		<key>browser-height</key>
		<integer>160</integer>
		<key>browser-toolbar-shown</key>
		<false/>
		<key>browser-width</key>
		<integer>160</integer>
		<key>full-screen</key>
		<false/>
		<key>maximize-viewer</key>
		<false/>
		<key>tools-display-state</key>
		<string>Shown</string>
		<key>tools-position</key>
		<string>Left</string>
		<key>tools-width</key>
		<integer>305</integer>
		<key>viewer-shown</key>
		<false/>
		<key>viewer-toolbar-shown</key>
		<false/>
	</dict>
	<key>com.phaseone.captureone.exporterwindow.tools</key>
	<dict>
		<key>ExporterToolTab</key>
		<array>
			<array>
				<string>ExportLocation</string>
				<string>ExportNaming</string>
				<string>ExportOptions</string>
			</array>
			<array/>
		</array>
		<key>tabConfiguration</key>
		<array>
			<string>ExporterToolTab</string>
		</array>
	</dict>
	<key>com.phaseone.captureone.exportvariantswindow.tools</key>
	<dict>
		<key>ExporterToolTab</key>
		<array>
			<array>
				<string>ExportLocation</string>
				<string>ExportNaming</string>
				<string>ExportRecipe</string>
				<string>ExportVariantOptions</string>
			</array>
			<array/>
		</array>
		<key>tabConfiguration</key>
		<array>
			<string>ExporterToolTab</string>
		</array>
	</dict>
	<key>com.phaseone.captureone.importerwindow</key>
	<dict>
		<key>browser-display-state</key>
		<string>Shown</string>
		<key>browser-height</key>
		<real>400</real>
		<key>browser-position</key>
		<string>Portrait</string>
		<key>browser-toolbar-shown</key>
		<false/>
		<key>browser-width</key>
		<integer>168</integer>
		<key>full-screen</key>
		<false/>
		<key>maximize-viewer</key>
		<false/>
		<key>tools-display-state</key>
		<string>Shown</string>
		<key>tools-position</key>
		<string>Left</string>
		<key>tools-width</key>
		<integer>305</integer>
		<key>viewer-mode</key>
		<integer>1</integer>
		<key>viewer-shown</key>
		<false/>
		<key>viewer-toolbar-shown</key>
		<false/>
	</dict>
	<key>com.phaseone.captureone.importerwindow.tools</key>
	<dict>
		<key>ImportToolTab</key>
		<array>
			<array>
				<string>ImportFrom</string>
				<string>ImportLocation</string>
				<string>ImportBackup</string>
				<string>ImportDestinations</string>
				<string>ImportNaming</string>
				<string>ImportMetadata</string>
				<string>ImportDefaultAdjustments</string>
				<string>ImportFileInfo</string>
			</array>
			<array/>
		</array>
		<key>tabConfiguration</key>
		<array>
			<string>ImportToolTab</string>
		</array>
	</dict>
	<key>com.phaseone.captureone.livepreviewwindow</key>
	<dict>
		<key>browser-display-state</key>
		<string>Hidden</string>
		<key>browser-height</key>
		<integer>160</integer>
		<key>browser-toolbar-shown</key>
		<false/>
		<key>browser-width</key>
		<integer>160</integer>
		<key>full-screen</key>
		<false/>
		<key>maximize-viewer</key>
		<false/>
		<key>selected-tool-palette-id</key>
		<string>LivePreviewToolTab</string>
		<key>tools-display-state</key>
		<string>Shown</string>
		<key>tools-position</key>
		<string>Left</string>
		<key>tools-width</key>
		<integer>305</integer>
		<key>viewer-shown</key>
		<true/>
		<key>viewer-toolbar-shown</key>
		<false/>
	</dict>
	<key>com.phaseone.captureone.livepreviewwindow.toolbar</key>
	<dict>
		<key>TB Default Item Identifiers</key>
		<array/>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<integer>1</integer>
		<key>TB Item Identifiers</key>
		<array>
			<string>PlayItem</string>
			<string>OverlayItem</string>
			<string>AlignmentItem</string>
			<string>BWItem</string>
			<string>DOFItem</string>
			<string>NSToolbarSeparatorItem</string>
			<string>PreferencesItem</string>
			<string>CustomizeItem</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>CursorToolItem</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>ZoomItem</string>
		</array>
		<key>TB Size Mode</key>
		<integer>1</integer>
		<key>TB Visibility Priority Values</key>
		<dict/>
		<key>toolbarConfiguration</key>
		<dict>
			<key>TB Default Item Identifiers</key>
			<array/>
			<key>TB Display Mode</key>
			<integer>2</integer>
			<key>TB Icon Size Mode</key>
			<integer>1</integer>
			<key>TB Is Shown</key>
			<integer>1</integer>
			<key>TB Item Identifiers</key>
			<array>
				<string>PlayItem</string>
				<string>OverlayItem</string>
				<string>AlignmentItem</string>
				<string>BWItem</string>
				<string>DOFItem</string>
				<string>PreferencesItem</string>
				<string>CustomizeItem</string>
				<string>NSToolbarFlexibleSpaceItem</string>
				<string>CursorToolItem</string>
				<string>NSToolbarFlexibleSpaceItem</string>
				<string>ZoomItem</string>
			</array>
			<key>TB Size Mode</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>com.phaseone.captureone.livepreviewwindow.tools</key>
	<dict>
		<key>CaptureToolTab</key>
		<array>
			<array>
				<string>Camera</string>
				<string>CameraFocus</string>
				<string>CameraSettings</string>
			</array>
			<array/>
			<array>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
			</array>
		</array>
		<key>LivePreviewToolTab</key>
		<array>
			<array>
				<string>LivePreviewComposition</string>
				<string>LivePreviewAdjustments</string>
				<string>CameraFocus</string>
				<string>LivePreviewInfoTool</string>
				<string>LivePreviewFocusMeterTool</string>
				<string>Overlay</string>
			</array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<array>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
			</array>
		</array>
		<key>tabConfiguration</key>
		<array>
			<string>LivePreviewToolTab</string>
			<string>CaptureToolTab</string>
		</array>
	</dict>
	<key>com.phaseone.captureone.livepreviewwindow.tools.scrolled</key>
	<dict/>
	<key>com.phaseone.captureone.printwindow</key>
	<dict>
		<key>browser-display-state</key>
		<string>Hidden</string>
		<key>browser-height</key>
		<integer>160</integer>
		<key>browser-toolbar-shown</key>
		<false/>
		<key>browser-width</key>
		<integer>160</integer>
		<key>full-screen</key>
		<false/>
		<key>maximize-viewer</key>
		<false/>
		<key>tools-display-state</key>
		<string>Shown</string>
		<key>tools-position</key>
		<string>Left</string>
		<key>tools-width</key>
		<integer>305</integer>
		<key>viewer-shown</key>
		<false/>
		<key>viewer-toolbar-shown</key>
		<false/>
	</dict>
	<key>com.phaseone.captureone.printwindow.tools</key>
	<dict>
		<key>PrintToolTab</key>
		<array>
			<array>
				<string>PrintPrinter</string>
				<string>PrintUnitsAndGuides</string>
				<string>PrintTemplates</string>
				<string>PrintMargins</string>
				<string>PrintLayout</string>
				<string>PrintImageSettings</string>
				<string>PrintCaption</string>
				<string>PrintWatermark</string>
			</array>
			<array/>
		</array>
		<key>tabConfiguration</key>
		<array>
			<string>PrintToolTab</string>
		</array>
	</dict>
	<key>com.phaseone.captureone.sessionwindow</key>
	<dict>
		<key>browser-display-state</key>
		<string>Hidden</string>
		<key>browser-height</key>
		<real>184</real>
		<key>browser-mode</key>
		<integer>0</integer>
		<key>browser-position</key>
		<string>Portrait</string>
		<key>browser-toolbar-shown</key>
		<true/>
		<key>browser-width</key>
		<real>200</real>
		<key>full-screen</key>
		<false/>
		<key>maximize-viewer</key>
		<false/>
		<key>proofMargin-toggled-on</key>
		<true/>
		<key>selected-tool-palette-id</key>
		<string>ExposureToolTab</string>
		<key>tools-display-state</key>
		<string>Shown</string>
		<key>tools-position</key>
		<string>Left</string>
		<key>tools-width</key>
		<real>377</real>
		<key>viewer-labels</key>
		<integer>1</integer>
		<key>viewer-mode</key>
		<integer>0</integer>
		<key>viewer-shown</key>
		<true/>
		<key>viewer-toolbar-shown</key>
		<true/>
		<key>viewer-zoom</key>
		<real>0.0</real>
	</dict>
	<key>com.phaseone.captureone.sessionwindow.toolbar</key>
	<dict>
		<key>TB Default Item Identifiers</key>
		<array>
			<string>ImportItem</string>
			<string>CaptureItem</string>
			<string>RotateItem</string>
			<string>OrganizeItem</string>
			<string>ResetAdjustmentsItem</string>
			<string>UndoRedoItem</string>
			<string>EditPrimaryOnlyItem</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>CursorToolItem</string>
			<string>ActivitiesProgressItem</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>RecipeProofingItem</string>
			<string>FocusMaskItem</string>
			<string>ExposureWarningItem</string>
			<string>AlignmentItem</string>
			<string>AutoAdjustItem</string>
			<string>AdjustmentsItem</string>
			<string>PrintItem</string>
			<string>ProcessItem</string>
			<string>TipsItem</string>
		</array>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<integer>1</integer>
		<key>TB Item Identifiers</key>
		<array>
			<string>ImportItem</string>
			<string>CaptureItem</string>
			<string>RotateItem</string>
			<string>OrganizeItem</string>
			<string>ResetAdjustmentsItem</string>
			<string>UndoRedoItem</string>
			<string>EditPrimaryOnlyItem</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>CursorToolItem</string>
			<string>ActivitiesProgressItem</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>RecipeProofingItem</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>FocusMaskItem</string>
			<string>ExposureWarningItem</string>
			<string>AlignmentItem</string>
			<string>AutoAdjustItem</string>
			<string>AdjustmentsItem</string>
			<string>PrintItem</string>
			<string>ProcessItem</string>
			<string>TipsItem</string>
		</array>
		<key>TB Size Mode</key>
		<integer>1</integer>
		<key>TB Visibility Priority Values</key>
		<dict/>
		<key>toolbar-hidden</key>
		<false/>
		<key>toolbarConfiguration</key>
		<dict>
			<key>TB Default Item Identifiers</key>
			<array>
				<string>ImportItem</string>
				<string>ExportVariantsItem</string>
				<string>CaptureItem</string>
				<string>NSToolbarSpaceItem</string>
				<string>ResetAdjustmentsItem</string>
				<string>UndoRedoItem</string>
				<string>NSToolbarSpaceItem</string>
				<string>AutoAdjustItem</string>
				<string>NSToolbarSpaceItem</string>
				<string>NSToolbarFlexibleSpaceItem</string>
				<string>CursorToolItem</string>
				<string>ActivitiesProgressItem</string>
				<string>NSToolbarFlexibleSpaceItem</string>
				<string>BeforeAfterItem</string>
				<string>AlignmentItem</string>
				<string>ExposureWarningItem</string>
				<string>NSToolbarSpaceItem</string>
				<string>LearnItem</string>
				<string>EditPrimaryOnlyItem</string>
				<string>AdjustmentsItem</string>
			</array>
			<key>TB Display Mode</key>
			<integer>1</integer>
			<key>TB Icon Size Mode</key>
			<integer>1</integer>
			<key>TB Is Shown</key>
			<integer>1</integer>
			<key>TB Item Identifiers</key>
			<array>
				<string>ImportItem</string>
				<string>ExportVariantsItem</string>
				<string>ResetAdjustmentsItem</string>
				<string>MoveToSelectsItem</string>
				<string>TrashItem</string>
				<string>UndoRedoItem</string>
				<string>NSToolbarFlexibleSpaceItem</string>
				<string>CursorToolItem</string>
				<string>ActivitiesProgressItem</string>
				<string>NSToolbarFlexibleSpaceItem</string>
				<string>BeforeAfterItem</string>
				<string>NSToolbarSpaceItem</string>
				<string>ExposureWarningItem</string>
				<string>AlignmentItem</string>
				<string>FocusMaskItem</string>
				<string>RecipeProofingItem</string>
				<string>EditPrimaryOnlyItem</string>
				<string>NSToolbarSpaceItem</string>
				<string>AdjustmentsItem</string>
			</array>
			<key>TB Size Mode</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>com.phaseone.captureone.sessionwindow.tools</key>
	<dict>
		<key>BatchToolTab</key>
		<array>
			<array/>
			<array/>
			<array/>
		</array>
		<key>BlackWhiteToolTab</key>
		<array>
			<array>
				<string>Styles</string>
				<string>BlackAndWhite</string>
				<string>Exposure</string>
				<string>Levels</string>
				<string>Curves</string>
				<string>Clarity</string>
				<string>Vignetting</string>
				<string>Film Grain</string>
			</array>
			<array>
				<integer>5</integer>
			</array>
			<array>
				<dict/>
				<dict/>
				<dict/>
				<dict>
					<key>selectedLevelsType</key>
					<integer>0</integer>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>selectedCurveType</key>
					<integer>0</integer>
					<key>sizeOption</key>
					<integer>2</integer>
				</dict>
				<dict/>
				<dict/>
				<dict/>
			</array>
		</array>
		<key>CaptureToolTab</key>
		<array>
			<array/>
			<array/>
			<array/>
		</array>
		<key>ColorToolTab</key>
		<array>
			<array>
				<string>Histogram</string>
				<string>LocalAdjustments</string>
				<string>WhiteBalance</string>
				<string>ColorBalance</string>
				<string>BlackAndWhite</string>
				<string>SelectiveColorControl</string>
				<string>Film Grain</string>
			</array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
			<array>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>ColorBalanceInspectorToolSelectedTab</key>
					<integer>1</integer>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
			</array>
		</array>
		<key>CompositionToolTab</key>
		<array>
			<array>
				<string>Crop</string>
				<string>Rotation</string>
				<string>Perspective</string>
				<string>Overlay</string>
			</array>
			<array>
				<integer>3</integer>
			</array>
			<array>
				<dict/>
				<dict/>
				<dict/>
				<dict/>
			</array>
		</array>
		<key>DetailsToolTab</key>
		<array>
			<array>
				<string>Histogram</string>
				<string>LocalAdjustments</string>
				<string>Sharpening</string>
				<string>Noise</string>
				<string>Film Grain</string>
				<string>Moire</string>
				<string>SpotRemoval</string>
			</array>
			<array>
				<integer>2</integer>
				<integer>3</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
			<array>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
			</array>
		</array>
		<key>ExposureToolTab</key>
		<array>
			<array>
				<string>Histogram</string>
				<string>LocalAdjustments</string>
				<string>Grid</string>
				<string>Rotation</string>
				<string>Crop</string>
				<string>Exposure</string>
				<string>Clarity</string>
				<string>ShadowHighlight</string>
				<string>Levels</string>
				<string>Curves</string>
				<string>Vignetting</string>
			</array>
			<array>
				<integer>0</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>8</integer>
				<integer>9</integer>
			</array>
			<array>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>selectedLevelsType</key>
					<integer>0</integer>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>selectedCurveType</key>
					<integer>1</integer>
					<key>sizeOption</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
			</array>
		</array>
		<key>LensToolTab</key>
		<array>
			<array>
				<string>Histogram</string>
				<string>LensCorrection</string>
				<string>LensColorCorrections</string>
				<string>LCC</string>
				<string>Perspective</string>
			</array>
			<array>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<array>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
			</array>
		</array>
		<key>LocalAdjustmentsToolTab</key>
		<array>
			<array>
				<string>LocalAdjustments</string>
				<string>WhiteBalance</string>
				<string>ColorBalance</string>
				<string>Exposure</string>
				<string>ShadowHighlight</string>
				<string>Levels</string>
				<string>Curves</string>
				<string>Sharpening</string>
				<string>Clarity</string>
				<string>Noise</string>
				<string>Moire</string>
				<string>SelectiveColorControl</string>
				<string>LensColorCorrections</string>
			</array>
			<array>
				<integer>10</integer>
			</array>
			<array>
				<dict>
					<key>sizeOption</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AdjustSelectedLayer</key>
					<true/>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AdjustSelectedLayer</key>
					<true/>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AdjustSelectedLayer</key>
					<true/>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AdjustSelectedLayer</key>
					<true/>
					<key>selectedCurveType</key>
					<integer>0</integer>
					<key>sizeOption</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AdjustSelectedLayer</key>
					<true/>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AdjustSelectedLayer</key>
					<true/>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AdjustSelectedLayer</key>
					<true/>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AdjustSelectedLayer</key>
					<true/>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AdjustSelectedLayer</key>
					<true/>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AdjustSelectedLayer</key>
					<true/>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AdjustSelectedLayer</key>
					<true/>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AdjustSelectedLayer</key>
					<true/>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AdjustSelectedLayer</key>
					<true/>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
			</array>
		</array>
		<key>MetaDataToolTab</key>
		<array>
			<array>
				<string>Metadata</string>
			</array>
			<array/>
			<array>
				<dict>
					<key>collapsedGroups</key>
					<array/>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
			</array>
		</array>
		<key>OrganizeToolTab</key>
		<array>
			<array>
				<string>Library</string>
				<string>MetadataFilters</string>
			</array>
			<array/>
			<array>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>FILTER_TOOL_COLLAPSED_GROUP_KEYS</key>
					<array>
						<string>content_keywords</string>
						<string>exp_date</string>
						<string>color_tag_index</string>
						<string>imagePlace</string>
					</array>
					<key>FILTER_TOOL_COLLAPSED_ITEM_KEYS</key>
					<array>
						<string>imagePlace_(No Country)</string>
						<string>_date_year_2018</string>
						<string>_date_year_2014</string>
					</array>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
			</array>
		</array>
		<key>OutputToolTab</key>
		<array>
			<array>
				<string>RecipeList</string>
				<string>RecipeDetails</string>
				<string>ProcessLocation</string>
				<string>ProcessNaming</string>
				<string>Process</string>
			</array>
			<array/>
			<array>
				<dict>
					<key>sizeOption</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
			</array>
		</array>
		<key>QuickToolTab</key>
		<array>
			<array>
				<string>Histogram</string>
				<string>Styles</string>
				<string>BaseCharacteristics</string>
				<string>WhiteBalance</string>
				<string>Exposure</string>
				<string>ShadowHighlight</string>
				<string>Process</string>
			</array>
			<array/>
		</array>
		<key>SettingsToolTab</key>
		<array>
			<array>
				<string>Histogram</string>
				<string>LocalAdjustments</string>
				<string>Styles</string>
				<string>Settings</string>
			</array>
			<array>
				<integer>1</integer>
				<integer>3</integer>
			</array>
			<array>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
			</array>
		</array>
		<key>customTabIcons</key>
		<dict/>
		<key>customTabs</key>
		<dict/>
		<key>tabConfiguration</key>
		<array>
			<string>OrganizeToolTab</string>
			<string>ExposureToolTab</string>
			<string>LensToolTab</string>
			<string>DetailsToolTab</string>
			<string>ColorToolTab</string>
			<string>SettingsToolTab</string>
			<string>MetaDataToolTab</string>
			<string>OutputToolTab</string>
		</array>
		<key>tool-windows</key>
		<array/>
	</dict>
	<key>com.phaseone.captureone.sessionwindow.tools.scrolled</key>
	<dict>
		<key>CaptureToolTab</key>
		<array>
			<array/>
			<array/>
			<array/>
		</array>
		<key>ColorToolTab</key>
		<array>
			<array/>
			<array/>
			<array/>
		</array>
		<key>CompositionToolTab</key>
		<array>
			<array/>
			<array/>
			<array/>
		</array>
		<key>DetailsToolTab</key>
		<array>
			<array/>
			<array/>
			<array/>
		</array>
		<key>ExposureToolTab</key>
		<array>
			<array/>
			<array/>
			<array/>
		</array>
		<key>LensToolTab</key>
		<array>
			<array/>
			<array/>
			<array/>
		</array>
		<key>OutputToolTab</key>
		<array>
			<array/>
			<array/>
			<array/>
		</array>
	</dict>
	<key>com.phaseone.captureone.viewerwindow</key>
	<dict>
		<key>browser-display-state</key>
		<string>Hidden</string>
		<key>browser-height</key>
		<integer>160</integer>
		<key>browser-position</key>
		<string>Landscape</string>
		<key>browser-toolbar-shown</key>
		<true/>
		<key>browser-width</key>
		<integer>160</integer>
		<key>full-screen</key>
		<true/>
		<key>maximize-viewer</key>
		<false/>
		<key>selected-tool-palette-id</key>
		<string>ExposureToolTab</string>
		<key>shown</key>
		<false/>
		<key>tools-display-state</key>
		<string>Auto</string>
		<key>tools-position</key>
		<string>Left</string>
		<key>tools-width</key>
		<integer>305</integer>
		<key>viewer-labels</key>
		<integer>0</integer>
		<key>viewer-mode</key>
		<integer>1</integer>
		<key>viewer-shown</key>
		<true/>
		<key>viewer-toolbar-shown</key>
		<true/>
		<key>viewer-zoom</key>
		<integer>0</integer>
		<key>window-coordinates</key>
		<string>{{0, 0}, {1440, 877}}</string>
	</dict>
	<key>com.phaseone.captureone.viewerwindow.toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<integer>0</integer>
		<key>TB Item Identifiers</key>
		<array>
			<string>SelectItem</string>
			<string>NSToolbarSeparatorItem</string>
			<string>RotateItem</string>
			<string>NSToolbarSeparatorItem</string>
			<string>ResetAdjustmentsItem</string>
			<string>UndoRedoItem</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>CursorToolItem</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>FocusMaskItem</string>
			<string>ExposureWarningItem</string>
			<string>AlignmentItem</string>
			<string>NSToolbarSeparatorItem</string>
			<string>AdjustmentsItem</string>
			<string>NSToolbarSeparatorItem</string>
			<string>ProcessItem</string>
		</array>
		<key>TB Size Mode</key>
		<integer>1</integer>
		<key>TB Visibility Priority Values</key>
		<dict/>
		<key>toolbar-hidden</key>
		<false/>
		<key>toolbarConfiguration</key>
		<dict>
			<key>TB Default Item Identifiers</key>
			<array>
				<string>SelectItem</string>
				<string>RotateItem</string>
				<string>ResetAdjustmentsItem</string>
				<string>UndoRedoItem</string>
				<string>NSToolbarFlexibleSpaceItem</string>
				<string>CursorToolItem</string>
				<string>NSToolbarFlexibleSpaceItem</string>
				<string>FocusMaskItem</string>
				<string>ExposureWarningItem</string>
				<string>AlignmentItem</string>
				<string>AdjustmentsItem</string>
				<string>ProcessItem</string>
				<string>TipsItem</string>
			</array>
			<key>TB Display Mode</key>
			<integer>2</integer>
			<key>TB Icon Size Mode</key>
			<integer>1</integer>
			<key>TB Is Shown</key>
			<integer>1</integer>
			<key>TB Item Identifiers</key>
			<array>
				<string>SelectItem</string>
				<string>RotateItem</string>
				<string>ResetAdjustmentsItem</string>
				<string>UndoRedoItem</string>
				<string>NSToolbarFlexibleSpaceItem</string>
				<string>CursorToolItem</string>
				<string>NSToolbarFlexibleSpaceItem</string>
				<string>FocusMaskItem</string>
				<string>ExposureWarningItem</string>
				<string>AlignmentItem</string>
				<string>AdjustmentsItem</string>
				<string>TipsItem</string>
			</array>
			<key>TB Size Mode</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>com.phaseone.captureone.viewerwindow.tools</key>
	<dict>
		<key>CaptureToolTab</key>
		<array>
			<array/>
			<array/>
			<array/>
		</array>
		<key>ColorToolTab</key>
		<array>
			<array>
				<string>Histogram</string>
				<string>LocalAdjustments</string>
				<string>WhiteBalance</string>
				<string>Normalize</string>
				<string>ColorBalance</string>
				<string>SelectiveColorControl</string>
			</array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<array>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
			</array>
		</array>
		<key>CompositionToolTab</key>
		<array>
			<array>
				<string>Histogram</string>
				<string>Crop</string>
				<string>Rotation</string>
			</array>
			<array/>
			<array>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
			</array>
		</array>
		<key>DetailsToolTab</key>
		<array>
			<array>
				<string>Navigator</string>
				<string>LocalAdjustments</string>
				<string>Sharpening</string>
				<string>Noise</string>
				<string>Clarity</string>
				<string>Focus</string>
			</array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<array>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>FocusInspectorToolZoomSetting</key>
					<real>1</real>
					<key>sizeOption</key>
					<integer>2</integer>
				</dict>
			</array>
		</array>
		<key>ExposureToolTab</key>
		<array>
			<array>
				<string>Histogram</string>
				<string>LocalAdjustments</string>
				<string>Exposure</string>
				<string>ShadowHighlight</string>
				<string>Levels</string>
				<string>Curves</string>
			</array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<array>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>selectedLevelsType</key>
					<integer>0</integer>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>selectedCurveType</key>
					<integer>0</integer>
					<key>selectedLevelsType</key>
					<integer>0</integer>
					<key>sizeOption</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>selectedCurveType</key>
					<integer>0</integer>
					<key>sizeOption</key>
					<integer>2</integer>
				</dict>
			</array>
		</array>
		<key>LocalAdjustmentsToolTab</key>
		<array>
			<array/>
			<array/>
			<array/>
		</array>
		<key>MetaDataToolTab</key>
		<array>
			<array>
				<string>Keywords</string>
				<string>KeywordLibrary</string>
				<string>Metadata</string>
			</array>
			<array/>
			<array>
				<dict>
					<key>sizeOption</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>collapsedGroups</key>
					<array/>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
			</array>
		</array>
		<key>OrganizeToolTab</key>
		<array>
			<array/>
			<array/>
			<array/>
		</array>
		<key>OutputToolTab</key>
		<array>
			<array/>
			<array/>
			<array/>
		</array>
		<key>QuickToolTab</key>
		<array>
			<array>
				<string>Histogram</string>
				<string>BaseCharacteristics</string>
				<string>WhiteBalance</string>
				<string>Exposure</string>
				<string>ShadowHighlight</string>
			</array>
			<array/>
			<array>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>sizeOption</key>
					<integer>-1</integer>
				</dict>
			</array>
		</array>
		<key>SettingsToolTab</key>
		<array>
			<array>
				<string>Settings</string>
			</array>
			<array/>
			<array>
				<dict>
					<key>sizeOption</key>
					<integer>0</integer>
				</dict>
			</array>
		</array>
		<key>tabConfiguration</key>
		<array>
			<string>QuickToolTab</string>
			<string>ExposureToolTab</string>
			<string>ColorToolTab</string>
			<string>CompositionToolTab</string>
			<string>DetailsToolTab</string>
			<string>SettingsToolTab</string>
			<string>MetaDataToolTab</string>
		</array>
	</dict>
	<key>com.phaseone.captureone.viewerwindow.tools.scrolled</key>
	<dict>
		<key>CaptureToolTab</key>
		<array>
			<array/>
			<array/>
			<array/>
		</array>
		<key>ColorToolTab</key>
		<array>
			<array/>
			<array/>
			<array/>
		</array>
		<key>DetailsToolTab</key>
		<array>
			<array/>
			<array/>
			<array/>
		</array>
		<key>ExposureToolTab</key>
		<array>
			<array/>
			<array/>
			<array/>
		</array>
		<key>LensToolTab</key>
		<array>
			<array/>
			<array/>
			<array/>
		</array>
		<key>QuickToolTab</key>
		<array>
			<array/>
			<array/>
			<array/>
		</array>
	</dict>
	<key>minimum-number-of-monitors</key>
	<integer>0</integer>
</dict>
</plist>
